.Search {
  border-radius: 10px
}

.Button-exit {
  padding-right: 6px
}

.Mood {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 72px;
  padding: 12px 12px 0px 12px;
  color: black;
  padding-top: 0;
}

.Mood span {
  font-size: 12px;
  font-weight: normal;
}

.Mood .Avatar {
  margin-bottom: 4px;
}
